# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.output
.nuxt
.nitro
.cache
dist

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode
.idea
.fleet
*.iml

# Testing
coverage
.nyc_output

# Misc
README.md
.editorconfig
renovate*.json
.github
